/***Universal Styles***/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

a:link, a:visited {
	color: #F9EEDC; /*Light Sunray*/
	text-decoration: none;
}
a:hover, a:active {
	background: transparent;
	text-decoration: none;
  	font-size: 110%;
  	color: none;
 }

.header-title {
	font-size: 40px;
	text-align: center;
	padding: 5px;
	position: relative;
	top: 10px;
}
/***Navigation Bar Styles***/
.navbar-brand {
	padding: 	0;
}

#nav-item1,#nav-item2,#nav-item3,#nav-item4 {
	font-size: 1.1em;
	display: inline;
	margin: 0;
	padding:25px;
	height: 70px;
	width: 160px;
}
#nav-item1 {
	background: #E0E0E0;/*Dirty White*/	
}
#nav-item2 {
	background: #F8C025;/*Yellow*/
}
#nav-item3 {
	background: #F75C03; /*Orange*/
}
#nav-item4 {
	background: #040403;/*Black*/
}
	


/***Home Section Styles***/
header {
	background-image: url("./images/background.jpg");
 	background-repeat: no-repeat;
  	background-position: top;
  	background-size:cover;
  	background-attachment: fixed;
}

#home {
	padding: 130px 130px 20px 130px;
	height: 100vh;
}
/*.overlay-bg {
	background: #000000;
	opacity: .2;
	position: relative;
	z-index: 1;
	height: 36em;
	bottom: 4em;
}
*/
.intro-texts{
	position: relative;
	z-index: 3;
	color: #FFFFFF; /*White*/
}
		.intro-text1 {
			font-weight: 700;
			font-size: 4em;
		}

		.intro-text2 {
			font-weight: 700;
			font-size: 7em;
			position: relative;
			margin-bottom: 30px;
		}

				.intro-text2-2 {
					color:#F1562A !important; /*Light Orange*/
				}

		.intro-text3 {
			font-size: 3em;
			font-weight: 600
		}
				.typewrite {
					color: #141414 !important; /*Eerie Black*/
					font-weight: 600 !important;
				}

		.intro-text4 {
			font-size: 2em;
		}

#bt-intro {
	background: #E94A35; /*Cinnabar*/
  	color:white;
  	width:270px;
  	height:75px;
 	border:none;
 	border-radius: 9px;
  	margin: 10px;
  	font-size: 1.3em;
  	position: relative;
  	top: 2em;
  	left: 3em;
}

/***About Styles***/
p {
	text-align: justify;
}

#about {
	padding: 10px;
	text-align: center;
	background-image: url("./images/white.jpg");
 	background-repeat: no-repeat;
  	background-position: top;
  	background-size:cover;
  	padding: 50px;
  	background-attachment: fixed;
	height: 100vh;
}
#tech-stack {
	/*padding: 10px;
	text-align: center;
	background-image: url("./images/white.jpg");
 	background-repeat: no-repeat;
  	background-position: top;
  	background-size:cover;
  	background-attachment: fixed;*/
	height: 60vh;
	padding: 50px;
}

#about-img {
	height: 21.5em;
	width: 23.2em;
	float: right;
	padding: 0 50px;
	border-radius: 50%;
	position: relative;
	right: 20px;
	bottom: 30px;
}


/***Project Styles***/
#projects {
	height: 100vh;
}
.card-title {
	color: #FFF1AD; /*Light Yellow*/
}


/**Contact Form Styles***/
#form-section {
	text-align: center;
	background-image: url("./images/white.jpg");
 	background-repeat: no-repeat;
  	background-position: top;
  	background-size:cover;
  	background-attachment: fixed;
	height: 100vh;
	margin-bottom: 30px;
}

form {
	background-color: #F1562A; /*Cinnabar*/
	padding: 0;
	margin: 0;
}
#full_name, #email, #contact, #message {
  	border: 2px solid #ccc;
  	border-radius: 2px;
  	background-color: #FFFFFF;/*white*/
  	resize: none;
  	cursor: pointer;
  	margin: 0;
}
.btn {
 	background-color: #FFB370;
 	position: relative;
 	left: 1em;
 	width: 9em;
 }
 iframe {
 	position: relative;
 	display: flex;
 	align-items: ;
 	justify-content: center;
 	flex-direction: column;
 	height:20em;
 	width:35em;
 }


/***Footer Styles***/
footer {
	text-align: center;
	height: 3em;
}
