/***Universal Styles***/

* {
	margin: 0;
	padding: 0 ;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

a:link, a:visited {
	color: #FFFFFF; /*White*/
	text-decoration: none;
}
a:hover, a:active {
	text-decoration: none;
  	font-size: 110%;
  	color: #FFFFFF; /*White*/;
 }

.section-titleb {
	font-size: 50px;
	text-align: center;
	
}

.section-titlew {
	color: #FFFFFF !important;
	font-size: 50px;
	text-align: center;
	
}


/***Navigation Bar Styles***/
.navbar-brand {
	padding: 0;
	margin: 0;
}

#nav-item1,#nav-item2,#nav-item3,#nav-item4 {
	font-size: 1.1em;
	padding: 15px;
	height: 70px;
	width: 160px;
}
#nav-item1 {
	background: #E0E0E0;/*Light Gray*/	
}
#nav-item2 {
	background: #F8C025;/*Yellow*/
}
#nav-item3 {
	background: #F75C03; /*Orange*/
}
#nav-item4 {
	background: #040403;/*Black*/
}


/***Home Section Styles***/
#home {
	background-image: url("./images/background.jpg");
 	background-repeat: no-repeat;
  	background-position: top;
  	background-size:cover;
  	background-attachment: fixed;
  	min-height: 100vh;

	margin: 0 auto !important;
}


/*.overlay-bg {
	background: #000000;
	opacity: .2;
	position: relative;
	z-index: 1;
	height: 36em;
	bottom: 4em;
}
*/
#intro-texts{
	color: #FFFFFF; /*White*/
}
		.intro-text1 {
			font-weight: 700;
			font-size: clamp(3em, 5vh, 5rem );
		}

		.intro-text2 {
			font-weight: 700;
			font-size: clamp(4em, 6vw, 6rem );
			position: relative;
			margin-bottom: 30px;
		}

				.intro-text2-2 {
					color:#F1562A !important; /*Light Orange*/
					
				}

		.intro-text3 {
			font-size: clamp(3em, 3vh, 3rem );
			font-weight: 600;
		}
				.typewrite {
					color: #141414 !important; /*Eerie Black*/
					font-weight: 600 !important;
					
				}

		.intro-text4 {
			font-size: 2em;
		}

#bt-intro {
	background: #E94A35; /*Cinnabar*/
  	color:white;
  	width:230px;
  	height:70px;
 	border: 1px solid  lightgray;
 	border-radius: 9px;
  	margin: 10px;
  	font-size: 1.3em;
}


/***About Section Styles***/

p {
	text-align: center;
	padding: 10px;
}

#about {
	background-image: url("./images/white.jpg");
 	background-repeat: no-repeat;
  	background-position: top;
  	background-size:cover;
  	padding: 50px;
  	background-attachment: fixed;
	
	margin: 0;
}

#about-img {
	height: 23em;
	width: 18em;
	padding: 5px;
}

/***Skills Section Styles***/
#skills {
	background-image: url("./images/white.jpg");
 	background-repeat: no-repeat;
  	background-position: top;
  	background-size:cover;
  	background-attachment: fixed;


}

/***Projects Section Styles***/
#projects {
	background-image: url("./images/gray.svg");

 	background-repeat: no-repeat;
  	background-position: top;
  	background-size:cover;
  	background-attachment: fixed;

	padding-top:4rem !important;
	padding-bottom: 3rem;
 
}

.card {
	background-color: #FDE69B;
}

.card-link {
	background-color: #644D02;
	padding: 10px 30px;
	border-radius:8px ;
}

/***Form Section Styles***/
#form {
	background-image: url("./images/white.jpg");
 	background-repeat: no-repeat;
  	background-position: top;
  	background-size:cover;
  	background-attachment: fixed;

	  padding-top:4rem !important;


}
.form-control {
	border: 3px solid #E05A00; /*Orange*/
}

.form-btn {
 	background-color: #E05A00; /*Orange*/
	min-width: 110px;
 	color: #FFFFFF;
 	border-radius: 20px;
 	padding: 7px;
 	border: none;
 }

 .form-btn-container {
 	text-align: center;
 	/*position: fixed;
 	left: 5em;*/

 }
